/* General body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#description {
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns the container at the top */
    height: 100vh; /* Full viewport height */
}
/* Calculator container */
.calculator {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Display */
.display {
    width: 87%;
    height: 60px;
    background-color: #fefbd8;
    border: none;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Button styles */
.numbers {
    background-color: #444;
    color: #fff;
    border: none;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Operator buttons */

.operator {
    background-color: #fe9241;
}

/* Clear button */
.clear {
    background-color: #e8162b;
}


/* Button hover effects */

.btn:hover {
    background-color: #555;
}

.operator:hover {
    background-color: #ec7c21;
}

.clear:hover {
    background-color: #c0392b;
}

