/* General body styling */
* {
    margin:0;
    padding: 0;
}

html {
    height:100%;
    width:100%;
}

body{
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}



#description {
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns the container at the top */
    height: 100vh; /* Full viewport height */
}


/* Calculator container */
.calculator {
    width:440px;
    height:635px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Display */
.display {
    width: 87%;
    height: 60px;
    background-color: #fefbd8;
    border: none;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    color: #000000d2;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Button styles */

button {
    flex: 1 0 33%;
    gap: 10px;
    box-sizing: border-box;
    font-size:1.5em;
    cursor: pointer;
    padding: 20px;
    
}

.buttons {
    display:flex;
    height: 20%;
    margin:0px 15px 10px 15px; 
    transition: background-color 0.3s ease;
}

.numbers {
    background-color: #444;
    color: #fff;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.operator {
    background-color: #fe9241;
    flex:1;
    display:flex;
    flex-wrap:wrap;
}

.function {
    flex:1 0 100%;
}



/* Clear button */
.clear {
    background-color: #e8162b;
}


/* Button hover effects */

.buttons:hover {
    background-color: #555;
}

.operator:hover {
    background-color: #ec7c21;
}

.clear:hover {
    background-color: #c0392b;
}

