/* General body styling */
* {
    margin:0;
    padding:0;
}

html {
    height:100%;
    width:100%;
}

body{
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}



#description {
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns the container at the top */
    font-size: 2em;
}


/* Calculator container */
.calculator {
width: 450px;
    height: 600px;    
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Display */
.display {
    width: 375px;
    height: 100px;
    background-color: #fefbd8;
    border: 3px;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    color: #000000d2;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
}

/* Button styles */

button {
    flex: 1 0 33%;
    gap: 10px;
    box-sizing: border-box;
    font-size:1.5em;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    
}

.buttons {
    display:flex;
    margin: 10px auto 10px auto; 
    transition: background-color 0.3s ease;
    width: 350px;
    height: 400px;
}

.numbers {
    background-color: #444;
    color: #fff;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.operator {
    background-color: #fe9241;
    flex:1;
    display:flex;
    flex-wrap:wrap;
}

.zero {
    flex: 1 0 66%;
}

/* Clear button */
.clear {
    background-color: #e8162b;
}


/* Button hover effects */

.buttons:hover {
    background-color: #555;
}

.operator:hover {
    background-color: #ec7c21;
}

.clear:hover {
    background-color: #c0392b;
}

